# Configuración de la base de datos MySQL
DB_HOST=localhost
DB_USER=Lara
DB_PASSWORD=Larasita.123
DB_NAME=lara_s_project
DB_PORT=3306

# Configuración de MongoDB
MONGODB_URI=mongodb://localhost:27017/joyeria

# Configuración JWT
clave=clave_secreta

# Configuración SMTP para correos (opcional - solo si quieres recibir notificaciones)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASS=tu_password_de_aplicacion
ADMIN_EMAIL=admin@larasproject.com

# Configuración del servidor
PORT=3001
NODE_ENV=development 